{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>SmartJobFinder</title>
  <link rel="icon" href="{% static 'images/logo.jpg' %}">
  <link rel="stylesheet" href="{% static './Edite.css' %}">
</head>
<body>
	<!-- Start signup Company -->
	<form method="POST" enctype="multipart/form-data" action="{% url 'EditeDataCom' %}">
		{% csrf_token %}
		<h3>Edite Data </h3>
	
		<label for="username">UserName</label>
        <input id="Edite_companyname" type="text" class="input" name="Edite_companyname"  value="{{data.companyname}}">
	
        <label for="username">Email Address</label>
        <input id="up_email" type="email" class="input" name="up_email" value="{{data.e_mail}}" readonly>

		<button>Update</button>

		<div class="hr"></div>
		<div class="foot-lnk">
			<a href="{% url 'ProfileCompany' %}" >Back</a>
		</div>
	</form>
		<!-- END signup Company -->

</body>
</html>